<!DOCTYPE html>
<html lang="en">
      <% include partials/head.ejs %>
  <body>
    <% include partials/header.ejs %>
        
     <div class="container col-xs-12 col-sm-8 col-md-8 pull-left text-white" style="margin-top:8%;margin-bottom:3%; ">
          <% user_reviews.forEach(obj=>{ %> 

       <div class="row">
           <div class="jumbotron jumbotron-fluid col-md-12 user" style="background-color:#303030;margin-bottom:3%;">
             <a href="/movies/<%=obj.movie_id%>"><img class="pull-left" src = <%= obj.movie_poster %> ></a>
             <a href="/movies/<%=obj.movie_id%>"><h3><%=obj.movie_title%></h3></a>
             <% if(req.user) { %>
                <form action = "/users/<%=req.user.username%>/reviews/delete" method = "post">
                 <div class="text-white pull-right"><button type="submit" class="btn btn-danger"><i class="text-white fa fa-trash fa-lg"></i></button></div>
                <input type="hidden" name="movie_id" value = "<%=obj.movie_id%>" />
                <input type="hidden" name="review_body" value = "<%=obj.review_body%>" />
                <input type="hidden" name="movie_title" value = "<%=obj.movie_title%>" />
               </form>
             <% } %>
             <h3><%=obj.review_body%></h3>
           </div>
       </div>
         <% }); %>
       
    </div>
   
  </body>
    <% include partials/footer.ejs %>
</html>