<!DOCTYPE html>
<html lang="en">
    <% include partials/head.ejs %>
  
  <body>
    <% include partials/header.ejs %>
    
    <div class="myAlert-top alert alert-success">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Success!</strong> Indicates a successful or positive action.
    </div>

    
  <div class = "container container-fluid col-lg-10 mx-auto" style="margin:5%">
    <% movieInfo.forEach(obj=>{ %> 
    <div class="col-md-3 pull-left row" id="movieInfo" style="margin-top:3%;margin-left:6%">
    <div class="sideposter"><img src = <%= obj.poster_path %> ></div>
     <% if (!req.user) { %>
    <a href="/login" style="margin:6%;margin-left:0" class="btn btn-secondary"> Sign in to log this movie </a>
     <% } %>
       <% if (req.user) { %>
        <form action="/users/<%=req.user.username%>/add/<%=obj.id%>" method = "POST" style="margin-left:9%;margin-top:5%">
           <button type="submit"  class="btn btn-info" >
             <i class="fa fa-eye"></i> 
            </button>
         <input type="hidden" name="poster_path" value="<%=obj.poster_path%>"></input>
         <input type="hidden" name="title" value="<%=obj.title%>"></input>
        </form>
    
      <form action="/users/<%=req.user.username%>/favorite/<%=obj.id%>" method = "POST" style="margin-left:9%;margin-top:5%">
       <button type="submit"  class="btn btn-danger text-white"  onclick="alert('This movie has been added to your favorites')" >
         <span><i class="fa fa-heart"></i></span> </button>
       <input type="hidden" name="poster_path" value="<%=obj.poster_path%>"></input>
       </form>
        <% } %>
    </div>
    
     <div class="col-md-4 pull-left">
    <div class="text-white" style="margin-top:9%;"><h4><%=obj.title%></h4></div>  
    <div class="text-white"><h5><%= obj.tagline %> </h5></div>
    <div class="text-white h5"><h5>Released on <%= obj.release_date %> </h5></div>
      <div style="color:#dcdcdc"><h5>  Overview:</br> <%= obj.overview %></h5></div>
    </div>
    
    <div class="col-md-3 jumbotron pull-left text-white" style="margin-top:2%; margin-left:6%; background-color: #303030">
    <div class="sidepanel text-center"><h5>Details</h5></div>
    <div class="sidepanel text-center"><h6>Runtime: <%=obj.runtime%> min</h6></div>
    <div class="sidepanel text-center"><h6>Rating: <%=obj.vote_average%></h6></div>
    <div class="sidepanel text-center"><h6>Votes: <%=obj.vote_count%></h6></div>
    <div class="sidepanel text-center"><h6>Studio: <%=obj.production_companies%> </h6></div>
    <div class="sidepanel text-center"><h6>Country: <%=obj.production_countries%> </h6></div>
     </div>

       <% if(req.user) { %>
        <div class=" col-md-8 pull-left text-white" style="margin-top:3%;margin-left:8%">
              <form action="/users/<%=req.user.username%>/review/" method = "post">
                <div class="text-white">
                  Review this movie <hr>
                </div>
                <textarea class="form-control" rows="5"  name="review" style="background-color:#d3d3d3;border:none;input:focus{background-color:yellow}"></textarea>
                <input type="hidden" name="movie_id" value="<%=obj.id%>" >
                <input type="hidden" name="poster_path" value="<%=obj.poster_path%>" >
                <input type="hidden" name="title" value="<%=obj.title%>" >
                <button type="submit" class="btn btn-info" style="margin:2%;margin-left:0"><i class="fa fa-paper-plane"></i>Post</button>
                </form>
        </div>
          <% } %>

     <div class="h3 row text-white col-md-10 pull-left" style="margin-left:9%;margin-top:4%" >
        <p >Recent reviews for this movie </p>
      </div>

         <% movie_reviews.forEach(obj=>{ %> 
        <div class="row col-lg-10 mx-auto" id="mv_review"> 
           <div style="margin:0;padding:2%;margin-bottom:3%; background-color:#303030" class= "jumbotron">
             <h3 style="color:#dcdcdc">Review by <a href="/users/<%=obj.user_name%>" style="text-decoration:none;"><span style="color:#add8e6"><%=obj.user_name%></span></a></h3>
             <h3 style="color:#dcdcdc;"><%=obj.review_body%></h3>
          </div> 
    </div>
         <% }); %>
      <% }); %>
    
     
   

    </div>
  </body>
    <% include partials/footer.ejs %>
</html> 