<!DOCTYPE html>
<html lang="en">
      <% include partials/head.ejs %>
  <body>
    <% include partials/header.ejs %>
    
      <div class = "container container-fluid col-md-10 mx-auto" style="margin:5%;">

        <div id="profile" style="margin-left:2%;margin-top:1%;" class="pull-left">
          <h1 class="ml-auto h1 text-white"><%= users.username %></h1>  
          <h6 style="color:#dcdcdc"><%= users.movies_watched %> movies watched</h6>  
          <h6 style="color:#dcdcdc"><%= users.review_count %> reviews</h6>  
        </div> 
      
        <div class="col-md-8 pull-left" style="margin-left:2%; margin-top:3%;color:#dcdcdc">
         <div class="col-md-12 pull-left" style=" color:#dcdcdc;">
            Recently watched <a href="/users/<%=users.username%>/all" class="pull-right" style="margin-right:5%; color:#dcdcdc;">All</a>
           <hr style ="border-color:#808080;padding-top:0">
         </div>
        
        <div class="col-md-12 pull-left">
           <% users.recently_watched.forEach(path=>{ %> 
             <img src = <%=path%> style="margin-right:.5%;margin-left:5%;border:1px solid white" >  
             <% }); %>
         </div>
        
        <div class="col-md-12 pull-left" style=" margin-top:3%;color:#dcdcdc;">
            All-time favorites <hr style ="border-color:#808080;">
         </div>
        <div class="col-md-12 pull-left">
           <% var favorite = users.favorites.slice(0,4);%>
           <% favorite.forEach(path=>{ %> 
             <img src = <%=path%> style="margin-right:.5%;margin-left:5%; border:1px solid white" >  
             <% }); %>
        </div>
          
        <% if(req.user) {%>
         <div class="col-md-12 pull-left" style=" margin-top:3%;color:#dcdcdc;">
            Movie recommendations based on your favorites <hr style ="border-color:#808080;">
         </div>
        <div class="col-md-12 pull-left" id="rec">
           <% users.recommendations.forEach(movie=>{ %> 
             <a href="/movies/<%=movie.movie_id%>">
             <img src = <%=movie.poster_path%> style="margin-right:.2%;margin-left:5%; border:3px solid white;" > </a>  
             <% }); %>
        </div>
          <% } %>
          
         <div class="col-md-12 pull-left" style=" margin-top:3%;margin-bottom:13%;color:#dcdcdc">
             Recently reviewed <hr style ="border-color:#808080;">
                <% user_reviews.forEach(obj=>{ %> 
                 <div class="col-md-9 pull-left user jumbotron jumbotron-fluid" style="margin-bottom:3%;margin-left:5%;margin-top:0;background-color:#303030" >
                 <a href="/movies/<%=obj.movie_id%>"><img class="pull-left" src = <%= obj.movie_poster %> ></a>
                 <a href="/movies/<%=obj.movie_id%>"><h3><%=obj.movie_title%></h3></a>
                <h3><%=obj.review_body%></h3>
           </div>
          <% }); %>
         </div>
           
       </div>
           
     </div>
        
    
  </body>
  
    <% include partials/footer.ejs %>
</html>



